.GM_page {
  padding: 6px 12px;
}

.GM_header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.GM_dictKey {
  font-size: 20px;
  text-decoration: underline;
  text-transform: capitalize;
}

.GM_dictValue {
  font-size: 14px;
}

.GM_dictContainer {
  display: list-item;
}